<div class="container">
    Welcome to {{$ctrl.title}} Page.
    <!-- <iframe src="{{$ctrl.url}}" style="height: 100vh; width: 100vw"></iframe> -->
    <div ng-include="$ctrl.url"></div>

    <div id="iframe_container" style="position: fixed; left: 10%; top: 80px; right: 10%; bottom: 65px; background: white; ">
            <iframe name="ifr" style="position: absolute; height:100%; width:100%;" src="{{$ctrl.url}}" onload = "document.body.style.height = frames.ifr.document.body.offsetHeight + parseInt(document.getElementById('iframe_container').style.top) + parseInt(document.getElementById('iframe_container').style.bottom) + 'px'" >
            </iframe>
    </div>
</div>